@import "tailwindcss";

@theme {
  --color-blue: #002b36;
  --color-light-blue: #2aa198;
  --color-yellow: #b58900;
  --color-green: #859900;

  @keyframes indeterminate {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(250%);
    }
  }
}

.animate-indeterminate {
  animation: indeterminate 1.2s ease-in-out infinite;
  will-change: transform;
}

body {
  @apply m-0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
